.webform-component-vs-webform { width:38em; }
.vs-webform-jumper { width:42%; height:300px; float:right; padding:0; margin:0; clear:right;}
.vs-webform-candidate-wrapper { width:55%;height:300px;  padding-right:1em; clear:left;  overflow:auto; float:left; }

#webform-component-representatives .description {
  clear: both;
}